h1,h2,h3,h4{text-align:center;margin:5px auto}
.h_ext{margin-left: 16px}
p,ol{margin:5px;}
.fon ul,.fon_c ul{margin:5px;list-style:none;}.fon_c ul li{margin:5px;}

.fon,.fon_c{margin:0 0 7px 5px;}
#l_col .fon,#l_col .fon_c,.fon_ce{margin:0 0 7px;}
.fon img,.fon_c img{margin-bottom:5px}

.space{height: 113px}@media only screen and (max-width: 800px){.space{height:13px}}

.telkiev::before{
	content: url(../img/site/jpg.php?img=kievstar);
	margin-right:4px;}
.item{
	padding: 0 20px;
	width: 83%;
	margin: 4px auto;
	transition: 0.8s ease;
}
.item:hover{
	transform:scale(1.1,1.01);
}
.check::before{
	content:'✔ ';
}
.item:hover .check{
	color: red;
}
#about .item{min-height: 433px}
@media only screen and (max-width: 800px){.space{height:5px}}
.colorbox{cursor: url(../img/site/colorbox/zoomin.cur),pointer !important;}
.img_btn,.vksmilebox img{
	margin:5px 7px;
	cursor:pointer;
}

.svg_ico{
	display:inline-block;
	width:30px;
	height:30px;
}

.tb2_l_col{float:left;width:48.8%;margin:5px 0 0.8%}
.tb2_r_col{float:right;width:48.8%;margin:5px 0 0.8%}
.tb2_img{padding:5px;text-align:center}

/*Таблицы*/
.table_def{
	margin:auto;
	text-align:center
}
.table_def tr td:first-child{
	text-align:left
}
/*End Таблицы*/

/*рекламные блоки*/
.caprek{width:322px;margin:0 26px}
@media screen and (min-width:240px) and (max-width:840px){.caprek{width:322px;margin:0 3px}}
/*кнопки share*/
#share .rel{margin:15px 3px}




#informer{margin:6px 0;display:block}

.nav_link a{margin:0 3px;display:inline-block}
@media screen and (min-width:240px) and (max-width:780px){.nav_link a{margin:25px 24px}}

#delivery{overflow:hidden}
#plane{
	position: absolute;
	left:-240px;
	animation: 17s plane infinite;
}
@keyframes plane{
	25% {left:17%}
	45% {left:70%}
	100%{left:400%}
}