html, body {
    height: 100%;
    font: 15px Verdana, Geneva, sans-serif;
    text-align: justify;
    cursor: default;
}
body {
    background: #190C16 url("../img/site/fon.jpg") no-repeat fixed top;
}
.maxw {
    margin: 1px auto;
    min-width: 720px;
    max-width: 1500px;
}

#bh {
    min-height: 13px
}

#header {
    min-height: 100px
}

#logo {
    max-width: 240px;
    height: 100%;

    min-height: inherit
}

.h_field {
    min-width: 240px;
    max-width: 1260px;
    overflow: hidden
}

.top_l,.top_c,.top_r{
	width:33%;
	float:left;
	padding: 0.6em 0;
}


@media screen and (max-width:700px){
	.top_c{display:none;}
	.top_l,.top_r{width:49%;}
}
#top-nav{
    margin-bottom: 11px;
}
#ah {
    min-height: 18px
}

/**************************/
/**************************/
#l_col,.l_col{
    width: 240px;
    min-height: 1px;
    overflow:hidden
}
#m_col,.m_col{
    min-width:480px;
    max-width:1260px;
    overflow:hidden
}
/**************************/
/*  m_col_child Start */
#c_col {
    /*min-width:240px;*/
    min-width: 240px; /*360;*/
    max-width: 1020px;
    overflow: hidden
}

#r_col {
    width: 240px;
    overflow: hidden
}

/*  m_col_child End */
/**************************/
/**************************/
#bf {
    min-height: 5px
}
#foot {
    min-height: 45px;
}
#copy {
    font-size: 70%;
}
@media screen and (min-width: 721px) and (max-width: 740px){
    .maxw {
        min-width: 240px;
        max-width: 740px
    }
    #logo {
        width: 100%
    }
    #l_col {
        width: 100%;
    }
    #m_col,.m_col {
        min-width: 240px;
        max-width: 740px
    }
    #c_col {
        width: 100%
    }
    .fon, .fon_c {
        margin: 0 0 7px;
    }
    #r_col {
        width: 100%
    }
}
@media screen and (min-width: 481px) and (max-width: 720px) {
    .maxw {
        min-width: 240px;
        max-width: 720px
    }
    #logo {
        max-width: 100%
    }
    #l_col {
        width: 100%
    }
    #m_col,.m_col {
        min-width: 240px;
        max-width: 720px
    }
    #c_col {
        min-width: 240px;
        max-width: 720px
    }
    .fon, .fon_c {
        margin: 0 0 7px;
    }
    #r_col {
        width: 100%
    }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    .maxw {
        min-width: 240px;
        max-width: 480px
    }
    #logo {
        max-width: 100%
    }
    #l_col {
        width: 100%
    }
    #m_col,.m_col {
        min-width: 240px;
        max-width: 480px
    }
    #c_col {
        min-width: 240px;
        max-width: 480px
    }
    .fon, .fon_c {
        margin: 0 0 7px;
    }
    .tb2_l_col, .tb2_r_col {
        width: 99.1%;
    }
    #r_col {
        width: 100%
    }
}

/*Для отображения на устройствах меньше 480px*/
@media screen and (min-width: 240px) and (max-width: 319px) {
    .maxw {
        min-width: 240px;
        max-width: 240px
    }
    #m_col,.m_col {
        min-width: 240px;
        max-width: 240px
    }
    #c_col {
        min-width: 240px;
        max-width: 240px
    }
    .fon, .fon_c {
        margin: 0 0 7px;
    }
    #r_col {
        width: 100%
    }
}
@media screen and (max-width: 239px) {
    .maxw {
        width:100%;
    }
    #m_col,.m_col {
        width:100%;
    }
    #c_col {
        width:100%;
    }
    .fon, .fon_c {
        margin: 0 0 7px;
    }
    #r_col {
        width: 100%
    }
}