html, body {
    height: 100%;
    font: 15px Verdana, Geneva, sans-serif;
    text-align: justify;
    cursor: default;
}

.maxw {
    margin: 1px auto;
    min-width: 840px;
    max-width: 1240px
}

#bh {
    min-height: 15px
}

#header {
    min-height: 100px
}

#logo {
    max-width: 240px;

    min-height: inherit
}

.h_field {
    min-width: 240px;
    max-width: 1260px; /*+40px;*/
    overflow: hidden
}

.top_l,.top_c,.top_r{
	width:33%;
	float:left;
	padding: 0.6em 0;
}


@media screen and (max-width:700px){
	.top_c{display:none;}
	.top_l,.top_r{width:49%;}
}
#top-nav{
    margin-bottom: 11px;
}
#ah {
    min-height: 13px
}

/**************************/
/**************************/
#l_col {
    width: 240px;
    /*overflow:hidden*/
}

#m_col {
    /*min-width:480px;*/
    min-width: 600px; /*+120px;*/
    max-width: 1000px; /*+40px;*/
    overflow: hidden
}

/**************************/
/*  m_col_child Start */
#c_col {
    /*min-width:240px;*/
    min-width: 360px; /*+120px;*/
    overflow: hidden
}

#r_col {
    width: 240px;
    overflow: hidden
}

/*  m_col_child End */
/**************************/
/**************************/
#bf {
    min-height: 5px
}

#foot {
    min-height: 45px;
}

#copy {
    font-size: 70%;
}