/*Для отображения на устройствах меньше 480px*/
@media screen and (min-width: 320px) and (max-width: 480px) {
    .maxw {
        min-width: 240px;
        max-width: 480px
    }

    #logo {
        max-width: 100%
    }

    #mult, #skazki {
        width: 100%;
        margin: 5px 0
    }

    #l_col {
        width: 100%
    }

    #m_col {
        min-width: 240px;
        max-width: 480px
    }

    #c_col {
        min-width: 240px;
        max-width: 480px
    }

    .fon, .fon_c {
        margin: 0 0 7px;
    }

    .tb2_l_col, .tb2_r_col {
        width: 99.1%;
    }

    #r_col {
        width: 100%
    }
}

body {
    background: #72AA2D url("../img/site/pc_back.png") repeat;
}

/*Для отображения на устройствах меньше 480px*/
@media screen and (min-width: 240px) and (max-width: 319px) {
    .maxw {
        min-width: 240px;
        max-width: 240px
    }

    #mult, #skazki {
        margin: 5px 0;
    }

    #m_col {
        min-width: 240px;
        max-width: 240px
    }

    #c_col {
        min-width: 240px;
        max-width: 240px
    }

    .fon, .fon_c {
        margin: 0 0 7px;
    }

    .tb2_l_col, .tb2_r_col {
        width: 99.1%;
    }

    #r_col {
        width: 100%
    }
}