@charset "utf-8";
/*настойки*/
#level_val{width:76%;margin:5px;}
@media screen and (min-width:240px) and (max-width:1005px){#level_val{width:65%;}}
#level_val_result{font-size:150%;vertical-align:top;}
#kind_test{margin-top:7px;}
/*/настойки*/
/*запуск тестов*/
#mat_btn{
	margin:0 auto 3px;
	width:230px;
	height:55px;
	border-radius:9px;
	cursor:pointer;
	border:#1c7a05 2px solid;
	background:#FF8E00;
	background:linear-gradient(to top,#ffe100,#FF8E00);
	display:none;
}
#mat_btn:hover{background:linear-gradient(to top,#FF8E00,#ffe100);}

#hide_opt{
	border-radius:8px;
	background:#fefee2;
	background:rgba(254,254,226,0.8);
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	display:none;
}
/* /запуск тестов*/
/*сам тест*/
#lesson{min-height:400px;}
#lesson img{position:absolute;top:0;left:0;height:100%;width:100%;z-index:1;}
#mel{
	position:absolute;
	top:10%;left:17%;
	margin:0px 25px;
	z-index:0;
	color:#FFF;
	font-size:480%;
}
#in_answer{
	background-color:transparent;
	color:#FFF;
	height:80px;	
	width:120px;
	font-size:inherit;
}
#flash-answer{
	width:140px;
	border-radius:9px;
	border:#1c7a05 2px solid;
	background:#F00;
	position:absolute;
	top:35%;
	left:40%;
	z-index:5;
	display:none;
}
#play_sum,#play_minus,.answer{
	height:50px;
	border-radius:9px;
	border:#1c7a05 2px solid;
	background:#FF0;
	background:linear-gradient(to top,#ffe100,#FF8E00);
	color:#F00;
	font-size:50%;
	z-index:2;
	cursor:pointer;
}
#play_sum:hover,#play_minus:hover,.answer:hover{background:linear-gradient(to top,#FF8E00,#ffe100);}
.answer{min-width:50px;vertical-align:middle;display:none}

#result-test{
	position:absolute;
	top:85%;
	left:5%;
	z-index:5;
	color:#FFF;
	font-weight:bold;
	font-size:150%;
	display:none;
}
#show-result{
	position:absolute;
	left:0;
	top:15%;
	z-index:10;
	width:100%;
	height:100%;
	color:#FFF;
	font-size:120%;
	display:none;
}
#show-result p{margin:5px 26px}

@media screen and (min-width:240px) and (max-width:480px){
#mel{margin:12px 13px;}
}
@media screen and (min-width:240px) and (max-width:480px){
#mel{left:2%;font-size:300%;}
#in_answer{height:48px;width:78px;}
#flash-answer{left:20%;}
}
@media screen and (min-width:481px) and (max-width:699px){
#mel{left:2%;font-size:310%;}
#in_answer{height:50px;width:80px;}
#flash-answer{left:30%;}
}
@media screen and (min-width:700px) and (max-width:699px){
#mel{left:3%;font-size:315%;}
#in_answer{height:52px;width:82px;}
#flash-answer{left:30%;}
}
@media screen and (min-width:700px) and (max-width:801px){
#mel{left:0;font-size:320%;}
#in_answer{height:55px;width:83px;}
#flash-answer{left:33%;}
}
@media screen and (min-width:800px) and (max-width:904px){
#mel{left:0;font-size:330%;}
#in_answer{height:57px;width:86px;}
#flash-answer{left:39%;}
}
@media screen and (min-width:905px) and (max-width:970px){
#mel{left:4%;font-size:365%;}
#in_answer{height:65px;width:95px;}
}
@media screen and (min-width:971px) and (max-width:1000px){
#mel{left:7%;font-size:395%;}
#in_answer{height:70px;width:100px;}
}
@media screen and (min-width:1001px) and (max-width:1049px){
#mel{left:12%;font-size:410%;}
#in_answer{height:72px;width:105px;}
}
@media screen and (min-width:1050px) and (max-width:1120px){
#mel{left:15%;font-size:430%;}
#in_answer{height:75px;width:105px;}
}