.v_menu_btn{
	font-size:120%;
	color:#B2251F;
	text-align:center;
	line-height:40px;/*центрировать вертикально одну строчку */
	cursor:pointer;
}
.v_menu_link{
	display:none;
	padding-top:5px;
	position:absolute;
	width:inherit;
	z-index:13;
	cursor:default;
}
.v_menu_link img{border-radius:5px 5px 7px 7px;}
.v_menu_btn,.v_menu_link,.l_menu,.r_menu{/*общий фон обводки*/
	border:#1c7a05 2px solid;
	background:#FF8E00;;
	background:linear-gradient(to top, #ffe100, #FF8E00);
	border-radius:10px;
}
/*.v_menu:active .v_menu_link,*/.v_menu_link:hover{display:block;}
.v_menu_btn:hover .v_menu_link{display:block;}
/*долбаный мазила*/
.v_menu:hover .v_menu_link{display:block;}


.v_menu_link ul{list-style:none;}
.v_menu_link ul li{
	display:block;
	margin:13px 5px;
}
/********************************************/
.l_menu{
	padding-bottom:7px;
	margin-bottom:7px;
}
.l_menu li{
	list-style:none;
	position:relative;
}

.l_menu_title{
	font-size:120%;
	color:#B2251F;
	text-align:center;
	line-height:40px;/*центрировать вертикально одну строчку */
	
}
.l_menu ul{
	display:block;
}
.l_menu ul li{
	border-bottom:#fefee2 thin solid;
}
.l_menu ul li a{
	display:block;
	text-decoration:none;
	line-height:30px;
	padding:0 2px 0 7px;
}
@media screen and (min-width:240px) and (max-width:480px){
.l_menu ul li a{line-height:45px;font-size:120%}
}
.l_menu ul li ul li a{
	padding:0 2px 0 13px;
}
.l_menu ul li ul li ul li a{
	padding:0 2px 0 20px;
}
.l_menu ul li a:hover{
	background:linear-gradient(to top, #FF8E00, #ffe100);
}
/*******/
.l_menu ul li ul,.l_menu ul li~ul{
	display:none;font-size:91%;
}
.l_menu ul li:hover>ul{display:block;position:absolute;z-index:10; right:0}
/********************************************/
.l_menu ul li ul,.l_menu ul li~ul{
border:#1c7a05 1px solid;
	background:#FF8E00;
	border-radius:6px;
	width:96%;
}
/********************************************/

.r_menu{
	margin:0 0 0 5px;
	padding-bottom:7px;
	margin-bottom:7px;
}
.r_menu li{
	list-style:none;
	position:relative;
}

.r_menu_title{
	font-size:120%;
	color:#B2251F;
	text-align:center;
	line-height:40px;/*центрировать вертикально одну строчку */
	
}
.r_menu ul{
	display:block;
}
.r_menu ul li{
	border-bottom:#fefee2 thin solid;
}
.r_menu ul li a{
	display:block;
	text-decoration:none;
	line-height:30px;
	padding:0 2px 0 7px;
}
@media screen and (min-width:240px) and (max-width:480px){
.r_menu{margin:0 0 7px;}
.r_menu ul li a{line-height:45px;font-size:120%}
}
.r_menu ul li ul li a{
	padding:0 2px 0 13px;
}
.r_menu ul li ul li ul li a{
	padding:0 2px 0 20px;
}
.r_menu ul li a:hover{
	background:linear-gradient(to top, #FF8E00, #ffe100);
}
/*******/
.r_menu ul li ul,.r_menu ul li~ul{
	display:none;font-size:91%;
}
.r_menu ul li:hover>ul{display:block;position:absolute;z-index:10; right:0}
/********************************************/
.r_menu ul li ul,.r_menu ul li~ul{
border:#1c7a05 1px solid;
	background:#FF8E00;
	border-radius:6px;
	width:96%;
}
/*footer menu*/
.footmenu{
	position:relative;
	min-height:22px;
	margin-bottom:3px
/*	background-color:#C85254*/
}
.footmenu ul{
	list-style:none;
    position: relative;
    left:50%;
    float:left;
}

.footmenu li{
	position:relative;
    left:-50%;
    float:left;
    margin:0 2px;
    height:30px

}

.footmenu ul li a{
	text-decoration:none;
	display:block;
	margin:4px 6px;
	max-width:240px;
	padding:4px 9px;
	font-size:85%
}
.footmenu ul li a:hover{background-color:rgba(157,227,189,0.42)}