.main_nav{
	min-height: 33px;

}
.main_nav span{
	margin: 6px 5px 2px;
	min-width: 80px;
	text-align: center;
	display: inline-block;
	background: #5c3317;
	background:rgba(254,254,226,0.8);
	padding:7px;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 2px 2px 1px #235645;
	/*transition-property:transform;*/
	transition-duration: .6s;
}
.main_nav span a{
	font-size: 105%;
	text-decoration:none;
}
.main_nav span:hover{
	transform: skewX(-40deg);
	background:rgba(254,254,226,0.5);
	box-shadow: 3px 3px 4px #f00;
}
.main_nav a:hover{
	color:#B2251F;
}
/***************l_menu*********************/
#l_menu img{border-radius: 13px}

/*
nav {
	max-width: 660px;
	margin: 0 auto;
	padding: 20px 0;
	overflow: hidden;
}
.logo-box {
	float: left;
	margin-left: 25px;
}
.logo {
	margin: 0;
	height: 70px;
	text-align: center;
}
ul {
	margin: 0;
	margin-right: 25px;
	padding-left: 0;
	list-style: none;
	float: right;
	height: 70px;
	line-height: 70px;
	text-align:center;
}
a {
	text-decoration: none;
	display: inline-block;
	position: relative;
}
li a {
	color: #868686;
	text-transform: uppercase;
}
li {
	display: inline-block;
	margin-left: 25px;
	transition: .5s linear;
}
li a:after {
	content: "";
	width: 0;
	height: 2px;
	position: absolute;
	left: 0;
	bottom: 20px;
	background: #868686;
	transition: all 0.5s linear;
}
li a:hover:after{
	width: 100%;
}
@media screen and (max-width:574px) {
	.logo-box {
		float: none;
		margin: 0 auto;
	}
	ul {
		float: none;
		margin: 0 25px;
	}
	li:first-of-type {margin-left:0}
}

@media screen and (max-width:493px) {
	nav {
		overflow: visible
	}
	ul {
		height: auto;
		margin: 25px 25px 0 25px;
		line-height: 50px;
	}
	li {
		display: block;
		margin: 0;
	}
	li:hover {
		background: rgba(0,0,0,.1)
	}
	li a:after {
		content: none;
	}
}*/