#main_slider{
    position:relative;
    max-width:100%;  /* можно ограничить по ширине в любых единицах, в т.ч. px (необязательно) */
    max-height:380px;/*  можно ограничить по высоте в любых единицах, в т.ч. px (необязательно) */
    overflow:hidden; /*  удалить, если нет max-width, max-height и outline у img */
    margin:5px 4px;
}
#main_slider img{
    border-radius: 5px;
    position:absolute;
    top:0;
    left:0;
    /* Версия 1: абзац для того, чтобы изображение было растянуто во весь слайдер */
    height:100%;
    width:100%;
}
#main_slider div{
    position:relative;

    margin-bottom:25%;/*  процент от ширины (тут есть калькулятор) */

}
#main_slider img:nth-of-type(1){
    z-index:5;
    animation: 35s slidy1 infinite;
}
@keyframes slidy1 {
    25% {opacity: 1;}
    30% {opacity: 0;}

    95% {opacity: 0;}
    100%{opacity: 1;}
}
#main_slider img:nth-of-type(2){
    z-index:4;
    animation: 35s slidy2 infinite;
}
@keyframes slidy2 {
    55% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}
#main_slider img:nth-of-type(3){
    z-index:3;
}


/*
#captioned-gallery {
    overflow: hidden;
    max-width: 1020px;
    position: relative;

    max-height: 380px;
}

.slider {
    animation: 20s slidy3 infinite;
    left: 0;
    position: relative;
    width: 400%;
    overflow: hidden;
    max-height: 380px;
}
.slider figure {
    display: inline-block;
    width:24.9%
}

.slider img {
    width: 24.9%;
}
@keyframes slidy3 {
    25% { left: 0; }
    30% { left: -100%; }
    60% { left: -100%; }
    65% { left: -200%; }
    95% { left: -200%; }
    100%{ left: -300%; }
}



@keyframes slidy2 {
    40% { left: 0; }
    45% { left: -100%; }
    95% { left: -100%; }
    100%{ left: -200%; }
}
/*
@keyframes slidy5 {
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100%{ left: -400%; }
}*/
